<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="mddtools.preferences"
            class="mddtools.preferences.MDDToolsPreferencePage"
            id="mddtools.preferences.MDDToolsPreferencePage"
            name="MDDTools Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="mddtools.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="mddtools.splashHandlers.ExtensibleSplashHandler"
            id="mddtools.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.epp.package.modeling.product"
            splashId="mddtools.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="mddtools.splashExtension">
      <splashExtension
            icon="icons/csi.png"
            id="csi"
            tooltip="CSI Piemonte">
      </splashExtension>
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Java">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="J2EE">
      </splashExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="mddtools.Activator"></startup>
   </extension>

</plugin>
